.embla {
    width: 100%;

    --slide-height: 50rem;
    --slide-spacing: 2rem;
    --slide-size: 100%;

    --detail-medium-contrast: rgb(234, 234, 234);
    --text-body: blue;
}

.embla__viewport {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.embla__container {
    display: flex;
    touch-action: pan-x pinch-zoom;
    margin-top: calc(var(--slide-spacing) * -1);
    height: calc(var(--slide-spacing) + var(--slide-height));
    flex-direction: column;
    align-items: center;
    position: relative;
}

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    padding-top: var(--slide-spacing);
    width: 95%;
    aspect-ratio: 16/7;
}

.embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.embla__dot-icon {
    height: 12px;
    width: 12px;
}

.embla__slide img {
    display: block;
    width: 100%;
}

.embla__controls {
    position: absolute;
    left: 50%;
    bottom: 2%;
    transform: translateX(-50%);
}
